<!doctype html>
<html>
    <head> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" /></head>
   <table border = 1>
      <tr>
         <td>
            <h2>Similar clustered Dishes in 2 dimensional vector space using PCA</h2>
               <img src="/pca-image.png"
            alt="PCA as png"
            height="800"
            >
         </td>
         <td>
            <h2>Wordcloud representing similar dishes. Larger font is more popular</h2>
               <img src="/wc-image.png"
               alt="WordCloud as png"
               height="800"
            >
         </td>
      </tr>
   </table>
   </html>
